<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Module\DbVersionInfo">
        <plugin disabled="false" name="DbVersionInfoPlugin" sortOrder="10" type="Acodesh\DbVersionFix\Plugin\Magento\Framework\Module\DbVersionInfo"/>
    </type>
</config>
